

h1{
  color: #0092CA;
  font-family: 'Lora', serif;
}
body{
 
  margin:10px;
  background: linear-gradient(to right, #222831, #494B67);
  align-content: center;

}



h3, p{
	color:black;
}


.panel{

	color:black;
	margin: 20px;
	align-items: center;

}

.panel-heading{

}