.icon{
	width:125px;
}

 .container-fluid, .navbar, .btn{
	background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
    background-image: linear-gradient(#fff, #ccc);
    border-radius: 9px;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);


}


.container-fluid, {
	/*background: -webkit-gradient(linear, center top, center bottom, from(#fff), to(#ccc));
    background-image: linear-gradient(#fff, #ccc);
    border-radius: 6px;
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);*/
margin-top: 0;
}



body{
	background:#EEEEEE;
	font-size: 17px;
	font-family: 'Lora', serif;
	text-align: center;


}

.btn{
	height:35px;
	margin-left: 5px;
}


.btn:hover{
	background: -webkit-gradient(linear, center top, center bottom, from(orange), to(#ccc));
    background-image: linear-gradient(orange, #ccc);

}

.subnav{
	font-size: 20px;
	padding-right: 50px;

}

